{% extends 'layout.html' %}
{% block intro %}
<div class="container">
    <div class="splitlayout">
        <div class="intro">
            <div class="side side-left">
                <img src="{{ intro.team1.pic }}">
                <div class="intro-content">
                    <h1>{{ intro.team1.name }}</h1>
                </div>
                <div class="overlay-color"></div>
                <div class="overlay-img"></div>
            </div>
            <div class="side side-right">
                <img src="{{ intro.team2.pic }}">
                <div class="intro-content">
                    <h1>{{ intro.team2.name }}</h1>
                </div>
                <div class="overlay-color"></div>
                <div class="overlay-img"></div>
            </div>
        </div><!-- /Intro -->
    </div>
</div>
{% endblock %}

{% block content %}
<section class="section about">
    <div class="about-info">
        <h4>$5 online or at the door</h4>
        <p>What happens when two experienced improv teams go head-to-head in this intense cagematch-style fight? Weirdness, insanity, and hilarity all around! Unfortunately, only one team will make it out alive... And you, the audience, decides who stays...and who gets thrown into a bog and becomes a super neat bog mummy in like, 400 years. You better not miss it! Friday Night Fights is every 1st and 3rd Friday. Hosted by Jay Robert Flewelling.</p>
        <a href="https://www.boxofficetickets.com/go/event?id=205395" class="btn" target="_blank">Purchase Tickets</a>
    </div>
    <div class="about-signup">
        <h4>Does your team want to compete?</h4>
        <p>We're always looking for new teams to compete in Friday Night Fights!</p>
        <a href="" class="btn">Sign Up</a>
    </div>
</section>
<section class="section schedule">
    <div class="schedule-table fnf">
        <div class="schedule-table--wrap">
            <div class="schedule-title">
                <h5>{{ schedule.fnf.name }}</h5>
            </div>
            <div class="schedule">
                {% for show in schedule.fnf.shows %}
                    <div class="schedule-row">
                        <div class="schedule-row--left">
                           {{ show.team1 }} <span>vs</span> {{ show.team2 }}
                        </div>
                        <div class="schedule-row--right text-right">
                            {{ show.date }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="schedule-table tnt">
        <div class="schedule-table--wrap">
            <div class="schedule-title">
                <h5>{{ schedule.fnf.name }}</h5>
            </div>
            <div class="schedule">
                {% for show in schedule.fnf.shows %}
                <div class="schedule-row">
                    <div class="schedule-row--left">
                        {{ show.team1 }} <span>vs</span> {{ show.team2 }}
                    </div>
                    <div class="schedule-row--right text-right">
                        {{ show.date }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<section class="section" id="cd-google-map">
    <div id="google-container"></div>
    <div id="cd-zoom-in"></div>
    <div id="cd-zoom-out"></div>
<address>5225 NE Martin Luther King Blvd, Portland, OR 97211</address>
</section>
{% endblock %}

