{% extends 'layout.html' %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">Waiting List</div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Sign Up Date</th>
                        <th>Team Name</th>
                    </tr>
                </thead>
                <tbody>
                {% for team in teams %}
                    <tr>
                        <td>{{ date.S }}</td>
                        <td>{{ team.S }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
