<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/development/assets/css/main.css">
    <script src="assets/development/assets/js/vendor/modernizr.js"></script>
    <title>Friday Night Fights</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="assets/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="assets/img/favicon/android-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Web Starter Kit">
    <link rel="apple-touch-icon" sizes="57x57" href="assets/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicon/apple-icon-180x180.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="assets/img/favicon/ms-icon-144x144.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon/favicon-16x16.png">

  </head>
  <div style="height: 0; width: 0; position: absolute; visibility: hidden; display: none;">
  <!-- inject:svg --><!-- endinject -->
  </div>
  <body>
    <div class="container">
        <div class="splitlayout">
            <div class="intro">
                <svg class="icn-vs">
                  <use xlink:href="#icn-vs"></use>
                </svg>
                <div class="side side-left">
                    <div class="intro-content">
                        <h1>Fit to Print</h1>
                    </div>
                    <div class="overlay-color"></div>
                    <div class="overlay-img"></div>
                </div>
                <div class="side side-right">
                    <div class="intro-content">
                        <h1>Add Hawk</h1>
                    </div>
                    <div class="overlay-color"></div>
                    <div class="overlay-img"></div>
                </div>
            </div><!-- /Intro -->
        </div>
    </div>
    <header>
      <nav class="mainNav">
        <div class="navbar js-navbar">
          <div class="brand">
              <a href="/" alt="FNF Logo" class="logo">
                <h1>Friday Night Fights</h1>
              </a>
          </div>
          <ul class="listInline">
            <li class=""><a href="/sign-up">Sign Up!</a></li>
            <li><a class="" href="/waiting-list">Waiting List</a></li>
            <li class=""><a href="/schedule">Schedule</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <main class="section">
        {{{content}}}
    </main>
    <footer class="section site-footer">
    <div class="social-wrap">
        <ul class="social">
            <li><a href="http://www.curiouscomedy.org/" alt="Curious Comedy Theater" target="_blank">Curious Comedy Theater</a></li>
            <li></li>
            <li>
              <a href="https://twitter.com/curiouscomedy" alt="Curious Comedy's Twitter" target="_blank">
                Twitter
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/fridaynightfightscruriouscomedy" alt="Curious Comedy's Facebook" target="_blank">
                Facebook
              </a>
            </li>
            <li>
                <a href="mailto:info@curiouscomedy.org" target="_top">
                  Email Us
                </a>
            </li>
            <li>
              <a href="https://www.boxofficetickets.com/go/event?id=205395" target="_blank" >Purchase Tickets</a>
            </li>
        </ul>
    </div>
    <div class="footer-wrap">
      <ul>
          <li><small>All content © 2015 Curious Comedy Theater</small></li>
          <li><small>Design and UX by <a href="http://shapeslikewater.com/">Jason Swetzoff</small></a></li>
          <li><small>Development by Michael Schoenfelder</small></li>
      </ul>
    </div>
</footer>

    <script src="assets/development/assets/js/vendor/jquery.js"></script>
    <script src="assets/development/assets/js/main.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBE1g1B7UdzvdAht1uwlF0uOT_Pxoo6pMQ"></script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-00000000-0', 'auto');
      ga('send', 'pageview');
    </script>

  </body>
</html>

