{% extends 'layout.html' %}

{% block content %}
    <div class="signup-form">
        <h1>Sign Up for FNF</h1>
        <p>Every team has equal access and will be booked for a 17min. set on Thursday Night Throwdowns on a first come first serve basis. Winning TNT teams will be booked for Friday Night Fights.</p>
        <form action="/sign-up" method="post">
            <div class="form-group">
                <label for="team">Team Name</label>
                <input name="team" type="text" class="form-control" id="team" placeholder="Team Name" tabindex="1">
            </div>
            <div class="form-group">
                <label for="members">Team Members</label>
                <input name="members" type="text" class="form-control" id="members" placeholder="Team Members" tabindex="2">
            </div>
            <div class="form-group form-file">
                <div>Team Photo</div>
                <label for="photo">Upload Team Photo</label>
                <input name="photo" type="file" id="photo" tabindex="3">
            </div>
            <div class="form-group">
                <label for="origin">How We Formed</label>
                <textarea name="origin" class="form-control" id="origin" rows="3" placeholder="Tell us how you met?" tabindex="4"></textarea>
            </div>
            <div class="form-group">
                <label for="style">What We Do</label>
                <textarea name="style" class="form-control" id="style" rows="3" placeholder="What kind of format? Tags and sweeps? Armando?" tabindex="5"></textarea>
            </div>
            <div class="form-group">
                <label for="coach">Coach</label>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Do you have a coach?
                    </label>
                </div>
                <input name="coach" type="text" class="form-control" id="coach" placeholder="Coach's Name">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <p class="text-danger">{{ message }}</p>
    </div>
{% endblock %}
