{% extends 'layout.html' %}

{% block content %}
<div class="waiting-list">
    <h1 class="panel-heading">Waiting List</h1>
    {% if teams.length %}
        <table class="table">
            <thead>
                <tr>
                    <th>Position</th>
                    <th>Team Name</th>
                </tr>
            </thead>
            <tbody>
            {% for team in teams %}
                <tr>
                    <td>{{ team.position.N }}</td>
                    <td>{{ team.name.S }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p><a href="/sign-up">Sign up now to start your improv dynasty ...</a></p>
    {% endif %}
</div>
{% endblock %}
