/* ==========================================================================
   Footer
   ========================================================================== */

.site-footer {
    text-align: center;
    position: relative;
    z-index: $zindex-footer;
    padding: 0;
    background: $grayDarkest;
}

.footer-wrap > ul{
    @extend .listReset;
    @extend .listInline;
    margin-bottom: $baseSpacing * 0.5;
    li {
        line-height: 0;
        display: inline;
        display: inline-block;
        margin-left: $baseSpacing * 0.5;
        color: darken($grayLight, 60%);
        &:last-child {
            margin-left: none;
        }
    }
}

.social {
    @extend .listInline;
    display: block;
    li {
        text-align: center;
    }
    li a {
        @extend %transition-default;
        text-align: center;
        vertical-align: middle;
        display: inline-block;
        padding: $baseSpacing * 0.5;
        padding-bottom: 0;
        color: darken($grayLight, 50%);
        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
            color: $white;
        }
    }
}

a.jason-link {
    text-decoration: underline;
    color: darken($grayLight, 50%);
    &:hover,
    &:active,
    &:focus {
        color: $white;
    }
}
