/* ==========================================================================
   Main Navigation
   ========================================================================== */

main,
.navbar {
    position: relative;
    z-index: $zindex-overlay;
    background: $bckgColor;
}

.navbar {
    bottom: 20%;
    padding-top: $baseSpacing;
    padding-bottom: $baseSpacing;
    border-bottom: rgba($white, 0.2) solid $borderWidth;
    background: $bckgColor;
    overflow-x: visible;
    &:before {
        @include transform(rotate(-1deg));
        position: absolute;
        z-index: -1;
        top: -$baseSpacing;
        left: -2%;
        display: block;
        width: 102.5%;
        height: $baseSpacing * 3;
        border-top: rgba($white, 0.2) solid $borderWidth;
        background: $bckgColor;
        content: '';
    }
    > ul {
            display: inline-block;
            @include breakpoint(phablet) {
                float: right;
            }
        a {
            text-align: right;
            text-align: center;
            display: block;
            margin: 0 ($baseSpacing * 0.25);
            padding: 0.5rem 0.75rem;
            color: $colorText;
            border-bottom: $borderWidth solid $yellowSecondary;
            &:hover,
            &:active {
                background: $yellowSecondary;
            }
        }
    }
    .brand h1 {
        text-transform: uppercase;
        margin: 0;
    }
}

.logo {
    h1 {
        @extend %transition-default;
    }
    &:hover,
    &:active {
        h1 {
            color: $white;
        }
    }
}

.icon-arrow-down,
.icon-arrow-up {
    @extend %transition-default;
    width: 100%;
    height: 100%;
    fill: $colorText;
}

.link-down,
.link-up {
    @include border-radius(50%);
    position: absolute;
    top: -3.5rem;
    right: $baseSpacing * 0.5;
    display: block;
    width: $baseSpacing * 0.75;
    height: $baseSpacing * 0.75;
    padding: 0.2rem;
    background: $yellow;
    &:hover,
    &:active {
        svg {
            fill: $white;
        }
    }
}

.link-down {
    @include breakpoint(tablet) {
        top: -4rem;
    }
}

.link-up {
    top: -0.75rem;
    right: 50%;
    left: 50%;
    padding: 0.5rem;
    background: $grayDarkest;
}

.icon-arrow-up {
    position: relative;
    bottom: 0.5rem;

    fill: $gray;
}
