/* ==========================================================================
   Variables
   ========================================================================== */

// Grid System
$susy: (
    columns: 12,
    gutters: (2/3),
    math: fluid,
    outoput: float,
    gutter-position: inside,
    global-box-sizing: border-box,
    debug: (
        image: hide,
        color: rgba(#66f, .25),
        output: background,
        toggle: top right,
    ),
);

$gallery_layout: layout(12 0 fluid float inside);
$nav_layout: layout(12 0 fluid float inside);

// Defining breakpoints
@mixin breakpoint($point) {
    @if $point == largeScreen {
        @media (min-width: 90em) { @content ; }
    }
    @if $point == desktop {
        @media (min-width: 70em) { @content ; }
    }
    @else if $point == laptop {
        @media (min-width: 64em) { @content ; }
    }
    @else if $point == tablet {
        @media (min-width: 50em) { @content ; }
    }
    @else if $point == phablet {
        @media (min-width: 37.5em)  { @content ; }
    }
    @else if $point == mobileonly {
        @media (max-width: 37.5em)  { @content ; }
    }
}

// Colors
//
// This section describes base colors
//
// Styleguide 1.0

// Main colors
//
// $blue - Blue color
// $blueSecondary - Secondary blue color
// $green - Green color
// $greenSecondary - Secondary green color
// $red - Red color
// $redSecondary - Secondary red color
// $yellow - Yellow color
// $yellowSecondary - Secondary yellow color
// $gray - Gray color
// $grayLight - Light gray color
// $grayDark - Dark gray color
//
// markup:
// <div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>
//
// Styleguide 1.1

$blue: #003356;
$blueSecondary: lighten($blue, 40%);
$green: #0f9d58;
$greenSecondary: lighten($green, 30%);
$red: #6c1400;
$redSecondary: lighten($red, 30%);
$yellow: #f4b400;
$yellowSecondary: lighten($yellow, 20%);
$white: white;
$gray: #737373;
$grayLight: #eeeeee;
$grayLightest: lighten($grayLight, 5%);
$grayDark: #404040;
$grayDarkest: #333333;

$colorHighlight: $blue;
$colorWarning: $yellowSecondary;
$colorMuted: $gray;
$colorDanger: $red;

$colorText: black;
$headerColor: black;
$bckgColor: $yellow;

// Defining font family
$fontDefault: 'Cantarell', Helvetica, Arial, sans-serif;
$fontHeader: 'Fjalla One', Helvetica, Arial, sans-serif;

// Defining font weight
$fontWeight: normal;
$fontWeightBold: 900;
$fontHeaderWeight: 700;

// Defining baseline line height
$lineHeight: 1.5;

// Buttons
$buttonTextColor: $colorText;
$buttonTextColor--hover: $yellow;
$buttonBorderColor: $colorText;
$buttonColor: none;
$buttonColor--hover: $colorText;
$buttonBorderWidth: .2rem;

// Defining animation easings
$animationEasing: cubic-bezier(0.455, 0.030, 0.515, 0.955) !default;

// Base spacing
$baseSpacing: 2.5rem;

// Border
$borderWidth: .1rem;

// Z Index
$zindex0: 0;
$zindex1: 1;
$zindex2: 2;
$zindex3: 3;
$zindex4: 4;
$zindex5: 5;

$zindex-side: $zindex1;
$zindex-overlay: $zindex2;
$zindex-overlay-color: $zindex3;
$zindex-content: $zindex4;
$zindex-footer: $zindex4;
