/* ==========================================================================
   Forms
   ========================================================================== */

// Forms
//
// Inputs, Radio Buttons, Checkboxes
//
// Styleguide 5.0

// Example form
//
// Form controls have no basic layout specified (by design). You'll need
// to use `<fieldset>`s, `<div>`s, or other elements to rearange them.
//
// markup:
// <form>
//   <label for="name">Name</label>
//   <input class="input" type="text" id="name">
//   </input>
//   <label for="email">Email address</label>
//   <input type="email" id="email">
//   <label>
//     <input type="checkbox"> Remember me
//   </label>
//   <label>
//     <input type="radio" id="herp" name="herpderp" checked> Herp
//   </label>
//   <label>
//     <input type="radio" id="derp" name="herpderp"> Derp
//   </label>
//   <button class="btn" type="submit">Submit</button>
// </form>
//
// Styleguide 5.1

input[type=search],
input[type=text],
textarea {
    @extend %transition-default;
    vertical-align: middle;
    position: relative;
    padding: $baseSpacing * 0.25;
    border: $borderWidth solid $grayLight;
    background: $grayLightest;
    &:focus {
        border-color: $yellow;
        outline: none;
        background: $white;
    }
}

input[type=search],
input[type=text] {
    -webkit-appearance: none; /* for box shadows to show on iOS */
}

label {
    vertical-align: text-top;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
}

// The `<legend>` is very important for accessibility reasons
//  (it will be spoken by assistive technologies as part of the label of each form element inside the fieldset)
//  This hides it
legend {
  overflow: hidden;
  width: 1px;
  height: 1px;
}

.form-file {
  label {
    @extend %transition-default;
    @extend .btn;
  }
  input[type="file"] {
      position: fixed;
      top: -1000px;
  }
}
