/* ==========================================================================
   Main Scss File: Importing all other files
   ========================================================================== */

// External Libraries
@import "../../bower_components/susy/sass/susy";
@import "../../bower_components/breakpoint/breakpoint/breakpoint";

// Fonts
@import url("http://fonts.googleapis.com/css?family=PT+Serif:700");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,600");

// Utils
@import "utils/vars";
@import "utils/mixins";
@import "utils/helpers";

// Base
@import "base/normalize";
@import "base/base";
@import "base/type";

// Layout
@import "layout/layout";

// Components
@import "components/intro";
// @import "components/nav";
// @import "components/about";
// @import "components/projects";
// // @import "components/examples";
// @import "components/title";
// @import "components/footer";
// @import "components/buttons";

