/* ==========================================================================
   Layout - Main layout file
   ========================================================================== */

// Layout
//
// The layout/ folder contains everything that takes part in laying out the
// site or application. This folder could have stylesheets for the main parts of
// the site (header, footer, navigation, sidebar...), the grid system or even CSS
// styles for all the forms.
//
// Styleguide 3.0

body {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

main {
    @include container;
}

.section {
    @extend .pad-bottom-double;
    @include full;
    @extend .clearfix;
    position: relative;
    clear: both;
}

/*
   #Nav
   ========================================================================== */

.navbar {
    @include full;
    .brand {
        @include span(full);
        @include breakpoint(phablet) {
            @include span(6);
        }

        @include breakpoint(laptop) {
            @include span(9);
        }
    }
    > ul li {
        @include span(4 of $nav_layout);
        @include breakpoint(phablet) {
            @include span(2 of $nav_layout);
        }
        @include breakpoint(laptop) {
            @include span(1 of $nav_layout);
        }
    }
}

/*
   #About
   ========================================================================== */
.about {
    .about__wrapper {
        @include container(50em);
    }
    .about__img {
        @include span(full);
        @include breakpoint(phablet) {
            @include span(4);
        }
    }
    .about__text {
        @include span(full);
        text-align: center;
        @include breakpoint(phablet) {
            @include span(8);
            text-align: left;
        }
    }
}

/*
   #Skills
   ========================================================================== */

.skill {
    text-align: center;
    @include breakpoint(tablet) {
        @include span(4);
    }
}


/*
   #Projects
   ========================================================================== */

.section.projects {
    padding-bottom: 0;
}

.project {
    @include full;
}

.project__img {
    @include breakpoint(phablet) {
        @include span(4);
    }
}
.project__info {
    @include breakpoint(phablet) {
        @include span(8);
    }
}


/*
   Design Examples
   ========================================================================== */

.examples {
    .examples__wrapper {
       @include span(12);
    }
    .examples__imgs {
        @include breakpoint(tablet) {
            li {
                @include span(6 of $gallery_layout);
            }
        }
    }
}


/*
   Footer
   ========================================================================== */

.social-wrap {
    @include span(full);
}

.thanks {
    @include span(12)
}


