
<div class="intro-table fnf">
    <div class="intro-table--wrap">
        <div class="schedule-title">
            <h5>Friday Night Fight Schedule</h5>
        </div>
        <div class="schedule">
            <div class="schedule-row">
                <div class="schedule-row--left">
                    Fit to Print <span>vs</span> Add Hoc
                </div>
                <div class="schedule-row--right text-right">
                    Friday the 21st at 9:30
                </div>
            </div>
            <div class="schedule-row">
                <div class="schedule-row--left">
                    ? <span>vs</span> ?
                </div>
                <div class="schedule-row--right text-right">
                    Friday the 21st at 9:30
                </div>
            </div>
            <div class="schedule-row">
                <div class="schedule-row--left">
                    ? <span>vs</span> ?
                </div>
                <div class="schedule-row--right text-right">
                    Friday the 21st at 9:30
                </div>
            </div>
        </div>
    </div>
</div>

<div class="intro-table tnt">
    <div class="intro-table--wrap">
        <div class="schedule-title">
            <h5>Thursday Night Throwdown</h5>
        </div>
        <div class="schedule">
            <div class="schedule-row">
                <div class="schedule-row--left">
                    Fit to Print <span>vs</span> Add Hoc
                </div>
                <div class="schedule-row--right text-right">
                    Friday the 21st at 9:30
                </div>
            </div>
            <div class="schedule-row">
                <div class="schedule-row--left">
                    ? <span>vs</span> ?
                </div>
                <div class="schedule-row--right text-right">
                    Friday the 21st at 9:30
                </div>
            </div>
            <div class="schedule-row">
                <div class="schedule-row--left">
                    ? <span>vs</span> ?
                </div>
                <div class="schedule-row--right text-right">
                    Friday the 21st at 9:30
                </div>
            </div>
        </div>
    </div>
</div>


