{% extends 'layout.html' %}
{% block intro %}
<div class="container">
    <div class="splitlayout">
        <div class="intro">
            <svg class="icn-vs">
                <use xlink:href="#icn-vs"></use>
            </svg>
            <div class="when"><span>Next Show:</span>{{ nextshow.date }}</div>
            <div class="side side-left">
                <div class="intro-content">
                    <h1>{{ intro.team1.name }}</h1>
                </div>
                <div class="overlay-color"></div>
                <div class="overlay-img" style="background-image: url(../img/fit-to-print.jpg);">
                </div>
            </div>
            <div class="side side-right">
                <div class="intro-content">
                    <h1>{{ intro.team2.name }}</h1>
                </div>
                <div class="overlay-color"></div>
                <div class="overlay-img" style="background-image: url(../img/biz-caj.jpg);"></div>
            </div>
        </div><!-- /Intro -->
    </div>
</div>
{% endblock %}

{% block content %}
<section class="section about">
    <div class="about-info">
        <h4>Every 1st and 3rd Friday Curious Comedy has a improv battle royale!</h4>
        <p>A cage match show of two improv teams that will throwdown with mad improv skills to win the hearts and minds of the audience, who the audience chooses as the winner will live to (improv) fight again. This show is hosted by man-about-town, Jay Robert Flewelling. Visit Friday Night Fights on Facebook for more information. $7 online or $10 at the door.</p>
        <a href="https://www.boxofficetickets.com/go/event?id=205395" class="btn" target="_blank">Purchase Tickets</a>
    </div>
    <div class="about-signup">
        <h4>Think your improv team has got the right stuff?</h4>
        <p>We're always looking for new teams to compete in Friday Night Fights! Every team has equal access and will be booked for a 17min. set on Thursday Night Throwdowns on a first come first serve basis. Winning TNT teams will be booked for Friday Night Fights.</p>
        <a href="/sign-up" class="btn">Sign Up</a>
    </div>
</section>
<section class="section schedule">
    <div class="schedule-table fnf">
        <div class="schedule-table--wrap">
            <div class="schedule-title">
                <h5>{{ schedule.fnf.name }}</h5>
            </div>
            <div class="schedule">
                {% for show in schedule.fnf.shows %}
                    <div class="schedule-row">
                        <div class="schedule-row--left">
                           {{ show.team1 }} <span>vs</span> {{ show.team2 }}
                        </div>
                        <div class="schedule-row--right text-right">
                            {{ show.date }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="schedule-table tnt">
        <div class="schedule-table--wrap">
            <div class="schedule-title">
                <h5>{{ schedule.fnf.name }}</h5>
            </div>
            <div class="schedule">
                {% for show in schedule.fnf.shows %}
                <div class="schedule-row">
                    <div class="schedule-row--left">
                        {{ show.team1 }} <span>vs</span> {{ show.team2 }}
                    </div>
                    <div class="schedule-row--right text-right">
                        {{ show.date }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<section class="section" id="cd-google-map">
    <div id="google-container"></div>
    <div id="cd-zoom-in"></div>
    <div id="cd-zoom-out"></div>
<address>5225 NE Martin Luther King Blvd, Portland, OR 97211</address>
</section>
{% endblock %}

