/* ==========================================================================
   About section
   ========================================================================== */

.intro-table--wrap {
    margin-top: $baseSpacing;
    background: $redSecondary;
    color: $white;
    margin-bottom: $baseSpacing;
    @extend .clearfix;

    h5 {
        color: $white;
        text-transform: uppercase;
    }
}

.tnt .intro-table--wrap  {
    background: $blueSecondary;
}

.schedule-row {
    border-bottom: rgba($white, .4) solid $borderWidth;
    padding-top: $baseSpacing * .5;
    padding-bottom: $baseSpacing * .5;

    &:last-child {
        border: none;
    }
}
