/* ==========================================================================
   Main Navigation
   ========================================================================== */

main,
.navbar {
    position: relative;
    z-index: $zindex-overlay;
    background: $bckgColor;
}

.navbar {
    bottom: 20%;
    padding-top: $baseSpacing;
    padding-bottom: $baseSpacing;
    border-bottom: rgba($white, 0.2) solid $borderWidth;
    background: $bckgColor;
    &:before {
        @include transform(rotate(-1deg));
        border-top: rgba($white, 0.2) solid $borderWidth;
        position: absolute;
        z-index: -1;
        top: -$baseSpacing;
        left: -$baseSpacing * 2;
        display: block;
        width: 120%;
        height: $baseSpacing * 3;
        background: $bckgColor;
        content: '';
    }
    > ul {
        a {
            text-align: center;
            display: block;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            color: $colorText;
            &:hover,
            &:active {
                border-bottom: $borderWidth solid $white;
            }
        }
    }
    .brand h1 {
        text-transform: uppercase;
        margin: 0;
    }
}

