/* ==========================================================================
   Main Navigation
   ========================================================================== */

main,
.navbar {
    position: relative;
    z-index: $zindex-overlay;
    background: $yellow;
}

.navbar {
    bottom: 20%;
    padding-top: $baseSpacing;
    padding-bottom: $baseSpacing;
    background: $headerColor;
    border-bottom: rgba($gray, .1) solid $borderWidth;
    &:before {
        position: absolute;
        z-index: -1;
        top: -$baseSpacing;
        left: -$baseSpacing * 2;
        display: block;
        width: 120%;
        height: $baseSpacing * 3;
        background: $headerColor;
        content: '';
        @include transform(rotate(-1deg));
    }
    > ul {
        a {
            text-align: center;
            display: block;
            color: $colorText;
            padding-top: .5rem;
            padding-bottom: .5rem;
        }
    }
    .brand h1 {
        margin: 0;
        text-transform: uppercase;
        color: $colorText;
    }
}

