/* ==========================================================================
   Links
   ========================================================================== */

a,
a:visited {
    @extend %transition-default;
    text-decoration: none;
    color: $blue;
    outline: none;
    &:hover,
    &:active {
        color: $white;
    }
}

button,
.btn {
    &:visited {
        color: inherit;
    }
}
