/* ==========================================================================
   Buttons
   ========================================================================== */

.btn {
    @extend %transition-default;
    font: inherit;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    display: inline-block;
    overflow: visible;
    margin: 0;
    padding: 0.25rem 0.7500rem;
    color: $buttonColor;
    border: $buttonBorderWidth solid $buttonBorderColor;
    border-radius: 0.25rem;
    background: $buttonColor;
    cursor: pointer;
    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        color: $buttonTextColor--hover;
        background: $buttonColor--hover;
    }
}

