/* ==========================================================================
   Intro - Landing area
   ========================================================================== */

.splitlayout {
    position: relative;
    overflow-x: hidden;
    width: 100%;
    min-height: 100%;
}

.side {
    text-align: center;
    position: fixed;
    z-index: $zindex-side;
    top: 0;
    width: 50%;
    height: 100%;
    -webkit-backface-visibility: hidden;
}

.open-left .side,
.open-right .side {
    cursor: default;
}

.overlay-img,
.overlay-color {
    position: absolute;
    z-index: $zindex-overlay;
    top: 0;
    left: 0;
    width: 115%;
    height: 115%;
}

.overlay-color {
    z-index: $zindex-overlay-color;
}

.overlay-img {
    position: relative;
    top: -10%;
}

.side-left {
    left: 0;
    outline: ($borderWidth * 2) solid #000000; /* avoid gap */
    .overlay-color {
        background: rgba($red, 0.5);
    }
}

.side-right {
    right: 0;
    outline: ($borderWidth * 2) solid #000000; /* avoid gap */
    .overlay-color {
        background: rgba($blue, 0.5);
    }
}

.side {
     .overlay-img {
        background: no-repeat center center;
        background-size: cover;
        -webkit-filter: blur(15px);
        -moz-filter: blur(15px);
        -o-filter: blur(15px);
        -ms-filter: blur(15px);
    }
}

.intro-content {
    @include transform(translateY(-50%) translateX(-50%));
    position: absolute;
    z-index: $zindex-content;
    top: 50%;
    left: 50%;
    width: 50%;
    cursor: pointer;
    @include breakpoint(phablet) {
        font-size: 4rem;
        width: 75%;
        padding: 0 $baseSpacing;
    }
    h1 {
        line-height: 1.2;
        text-transform: uppercase;
        margin: auto;
        color: $yellow;
        @include breakpoint(phablet) {
            font-size: 4rem;
        }
    }
}

.icn-vs,
.when {
    @include transform(translateY(-50%) translateX(-50%));
    position: fixed;
    z-index: $zindex-overlay;
    top: 50%;
    left: 50%;
    width: $baseSpacing * 2;
    @include breakpoint(phablet) {
        width: inherit;
    }
}

.icn-vs {
    @include breakpoint(phablet) {
        width: $baseSpacing * 3;
    }
}

.when {
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    top: $baseSpacing * 1;
    min-width: 18rem;
    padding: $baseSpacing * 0.5;
    color: $yellow;
    border: ($borderWidth * 2) solid $yellow;
    background: $yellow;
    background: rgba(0, 0, 0, 0.6);
    span {
        @extend .micro;
        font-weight: normal;
        text-align: center;
        display: block;
    }
}
