/* ==========================================================================
   Main Navigation
   ========================================================================== */

main,
.navbar {
    position: relative;
    z-index: $zindex-overlay;
    background: $bckgColor;
}

.navbar {
    bottom: 20%;
    padding-top: $baseSpacing;
    padding-bottom: $baseSpacing;
    border-bottom: rgba($white, 0.2) solid $borderWidth;
    background: $bckgColor;
    &:before {
        @include transform(rotate(-1deg));
        border-top: rgba($white, 0.2) solid $borderWidth;
        position: absolute;
        z-index: -1;
        top: -$baseSpacing;
        left: -$baseSpacing * 2;
        display: block;
        width: 120%;
        height: $baseSpacing * 3;
        background: $bckgColor;
        content: '';
    }
    > ul {
            display: inline-block;
            float:right;

        a {
            border-bottom: $borderWidth solid $yellowSecondary;
            text-align: right;
            margin: 0 ($baseSpacing * .25);
            display: block;
            padding: 0.5rem .75rem;
            color: $colorText;
            &:hover,
            &:active {
                background: $yellowSecondary;
            }
        }
    }
    .brand h1 {
        text-transform: uppercase;
        margin: 0;
    }
}

.logo {
    h1 {
        @extend %transition-default;
    }
    &:hover,
    &:active {
        h1 {
            color: $white;
        }
    }
}

.icon-arrow-down {
    position: absolute;
    right: $baseSpacing * .5;
    top: -5.5rem;
    width: 2%;
    fill: $colorText;
}
