/* ==========================================================================
   Links
   ========================================================================== */

a {
    color: $blueSecondary;
    outline: none;
    text-decoration: none;

    &:visited {
        color: $blueSecondary;
    }

    &:hover,
    &:active {
        color: $blue;
    }
}
