/* ==========================================================================
   About section
   ========================================================================== */

.about {
    background: $grayLight;
    border-bottom: .1rem solid darken($grayLight, 2.5%);
}

.about__wrapper {
    @extend .push-double;
}

.about__text h2 {
    @extend .yotta;
    margin-top: 0;
}

.about__img {
    margin: 0;
    text-align: center;

    img {
        max-width: 250px;
        border-radius: 50%;
        border: .2rem solid $white;

        @include breakpoint(phablet) {
            max-width: inherit;
        }
    }
}

/*
   Skills
   ========================================================================== */

.skill-wrap {
    background: lighten($grayLight, 3%);
    padding: ($baseSpacing * .5) ($baseSpacing * .25);
    margin-bottom: $baseSpacing;
    height: 100%;

    @include breakpoint(tablet) {
        padding: ($baseSpacing * .25) ($baseSpacing * .5);
    }

    .icn {
        width: 100%;
        margin-top: $baseSpacing;
    }

}
