/* ==========================================================================
   Buttons
   ========================================================================== */

.btn {
    @extend %transition-default;
    font: inherit;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    display: inline-block;
    overflow: visible;
    margin: 0;
    padding: 0.25rem 0.7500rem;
    color: $blue;
    border: 0.2rem solid $blue;
    border-radius: 0.25rem;
    background: $white;
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        color: $white;
        background: $blue;
    }
}

