/* ==========================================================================
   Projects
   ========================================================================== */

.project {
    @extend .pad-bottom;
    @extend .pad-top;
    margin-bottom: $baseSpacing;
    border: 0.1rem solid $grayLight;
    text-align: center;
    h2 {
        @extend %transition-default;
    }
    a {
        text-decoration: none;
        &:hover,
        &:active,
        &:focus {
            h2 {
                text-decoration: none;
                color: lighten($blue, 10%);
            }
        }
    }
    img {
        @extend %transition-default;
        border: .2rem solid $grayLight;
        &:hover,
        &:active,
        &:focus {
            border: .2rem solid $blue;
        }
    }
    @include breakpoint(phablet) {
        text-align: left;
        h2 {
            margin-top: 0;
            line-height: .75;
        }
    }
}

.tags {
    span {
        @extend .milli;
        margin-top: $baseSpacing * .5;
        display: inline-block;
        padding: 0.1rem 0.5rem;
        color: $yellow;
        border: 0.1rem solid $yellow;
        border-radius: 0.25rem;
    }
}
