/* ==========================================================================
   Helper classes - Class & placeholders helpers
   ========================================================================== */

// Helper Classes
//
// Small classes that help.
//
// Styleguide 4.0


/*
 * Hide visually and from screen readers:
 */

.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix {
  &:before,
  &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }

  &:after {
    clear: both;
  }
}

// Text helpers
//
// Classes for styling and placing text.
//
// Styleguide 4.1

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.normal {
  font-weight: normal;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

// Spacing helpers
//
// Classes for margins and padding.
//
// Styleguide 4.2

.push {
  margin-bottom: 1.5rem;
}

.push-none, .push-0 {
  margin-bottom: 0;
}

.push-double, .push-2 {
  margin-bottom: 3.0000rem;
}

.push-half, .push-1-2 {
  margin-bottom: 0.7500rem;
}

.push-quarter, .push-1-4 {
  margin-bottom: 0.3750rem;
}

.pad-top, .pad-t {
  padding-top: 1.5rem;
}

.pad-bottom, .pad-b {
  padding-bottom: 1.5rem;
}

.pad-top-double, .pad-t-2 {
  padding-top: 3.0000rem;
}

.pad-bottom-double, .pad-b-2 {
  padding-bottom: 3.0000rem;
}

.pad-top-half, .pad-t-1-2 {
  padding-top: 0.7500rem;
}

.pad-bottom-half, .pad-b-1-2 {
  padding-bottom: 0.7500rem;
}

.pad-top-quarter, .pad-t-1-4 {
  padding-top: 0.3750rem;
}

.pad-bottom-quarter, .pad-b-1-4 {
  padding-bottom: 0.3750rem;
}

.island {
  padding: 1.5rem;
}

.island-double, .island-2 {
  padding: 3.0000rem;
}

.island-half, .island-1-2 {
  padding: 0.7500rem;
}

.island-quarter, .island-1-4 {
  padding: 0.3750rem;
}

.gutter {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.gutter-double, .gutter-2 {
  padding-left: 3.0000rem;
  padding-right: 3.0000rem;
}

.gutter-half, .gutter-1-2 {
  padding-left: 0.7500rem;
  padding-right: 0.7500rem;
}

.gutter-quarter, .gutter-1-4 {
  padding-left: 0.3750rem;
  padding-right: 0.3750rem;
}

// List helpers
//
// Help styling lists
//
// Styleguide 4.3

// Inline lists
//
// Reset LI and Ul
//
// markup:
// <ul class="listReset">
//   <li><a>About</a></li>
//   <li><a>Work</a></li>
//   <li><a>Contact</a></li>
// </ul>
//
// Styleguide 4.3.1

.listReset {
  list-style: none;
  margin: 0;
  padding: 0;
}

// Inline lists
//
// Help styling lists
//
// markup:
// <ul class="listInline">
//   <li><a>About</a></li>
//   <li><a>Work</a></li>
//   <li><a>Contact</a></li>
// </ul>
//
// Styleguide 4.3.2

.listInline {
  @extend .listReset;

  > li {
    display: inline-block;
  }
}
